body {
  background-color: #95b8d1;
}
.menuPage-header {
  color: #750d37;
  text-align: center;
}
.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}

.statistic {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fb3640;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #6c7d47;
}

.statistic-item {
  width: 50%;
}

.statistic p {
  margin: 0;
  color: #ccc;
  font-weight: bold;
}

.statistic strong {
  color: #ccc;
}

.statistic-item:nth-child(1) p {
  font-size: 18px;
}

.statistic-item:nth-child(2) p {
  font-size: 24px;
}

canvas {
  background-color: #333;
  width: 100%;
}

.chart-container {
  width: 80%;
  height: 20%;
  margin: auto;
}

.chart-container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  margin-top: 40px;
}

.chart-container p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 40px;
}
