.header {
  background: url('https://cdn.pixabay.com/photo/2016/08/03/09/04/universe-1566161_960_720.jpg');
  display: block;
  background-size: 100% auto;
}
.header-logo {
  display: block;
  outline: none;
  padding: 4px;
  margin: -4px;
}
.header-logoLink {
  color: #2a9d8f;
}
/* .navbar-container {
  background-color: #123456;
} */
.navbar-list {
  display: flex;
  list-style: none;
}
.navbar-item-list {
  color: #e9c46a;
  margin-right: 20px;

}
a {
  text-decoration: none;
}
