body {
  background-color: #95B8D1;
}
h1{
  color: #750D37;
  text-align: center;
}
.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}

.statistic {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FB3640;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #6C7D47;
}

.statistic-item {
  width: 50%;
}

.statistic p {
  margin: 0;
  color: #ccc;
  font-weight: bold;
}

.statistic strong {
  color: #ccc;
}

.statistic-item:nth-child(1) p {
  font-size: 18px;
}

.statistic-item:nth-child(2) p {
  font-size: 24px;
}
